<h3>Recent activity</h3>

<table class="table table-hover shadow table-sm">
  <thead class="thead-light">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">User</th>
      <th scope="col">Action</th>
      <th scope="col">Quantity</th>
      <th scope="col">What</th>
    </tr>
  </thead>
  <tbody>
{{ range . }}
        {{ if .Contrib }}
    <tr class="text-success">
      <td>{{.Time.Format "2 Jan 2006 15:04"}}</td>
      <td>{{.Contrib.GetUser.Name}}</td>
      <td><a href="/contribute/detail/{{.Contrib.ID}}">contributed</a></td>
      <td>{{.Contrib.Quantity}}</td>
      <td><a href="https://untappd.com/beer/{{.Contrib.GetBeer.UntappdID}}" target=_blank>{{.Contrib.GetBeer.Name}}</a> <small><i>/ {{.Contrib.GetBeer.Brewery}}</i></small>
    </tr>
        {{ end}}
        {{ if .Checkout }}
    <tr class="text-warning">
      <td>{{.Time.Format "2 Jan 2006 15:04"}}</td>
      <td>{{.Checkout.GetUser.Name}}</td>
      <td>checked out</td>
      <td>{{.Checkout.Quantity}}</td>
      <td>{{.Checkout.GetBeer.Name}} <small><i>/ {{.Checkout.GetBeer.Brewery}}</i></small>
    </tr>
        {{ end}}
{{ end }}
  </tbody>
</table>
