<div class="modal fade" id="addContModal" tabindex="-1" role="dialog" aria-labelledby="addContModalLabel" aria-hidden="true">
 <div class="modal-dialog" role="document">
  <div class="modal-content">
   <div class="modal-header">
    <h5 class="modal-title" id="addContModalLabel">Contribute beer</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
     <span aria-hidden="true">&times;</span>
    </button>
   </div>
   <div class="modal-body">
    <form method="post" enctype="multipart/form-data" action="/contribute">
     <div class="form-group bg-light">
      <label for="user">User</label>
      <select class="custom-select" name="userid" required>
       <option selected value="">Select user</option>
{{ range .Users }}
<option value="{{.ID}}">{{.Name}}</option>
{{end}}
      </select>
     </div>
     <div class="form-group bg-light">
      <label for="quantity">Quantity</label>
      <input class="form-control" name="quantity" id="quantity" type="number" autocomplete="off" required>
     </div>
     <div class="form-row bg-light">
      <div class="col">
       <label for="unitprice">Unit Price</label>
       <div class="input-group">
        <div class="input-group-prepend">
	     <span class="input-group-text">$</span>
	    </div>
	    <input class="form-control" name="unitprice" id="unitprice" autocomplete="off">
	   </div>
	  </div>
	  OR
	  <div class="col">
       <label for="totalprice">Total Price</label>
	   <div class="input-group">
	    <div class="input-group-prepend">
	     <span class="input-group-text">$</span>
	    </div>
	    <input class="form-control" name="totalprice" id="totalprice" autocomplete="off">
	   </div>
	  </div>
     </div>
     <br/>
     <div class="form-group bg-light">
      <label for="comment">Comment</label>
      <input class="form-control" name="comment" id="comment" autocomplete="off">
     </div>
    </div>
    <div class="modal-footer">
     <input type="hidden" name="beerid" value=""/>
     <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
     <button type="submit" class="btn btn-primary">Submit</button>
    </div>
   </form>
  </div>
 </div>
</div>


