<style>
td .userDetails[aria-expanded="false"]:before{
      content:"+";
}

td .userDetails[aria-expanded="true"]:before{
      content:"-";
}
</style>

<h3>Users</h3>
<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#addUserModal">
	Add User
</button>
<br/><br/>
<table class="table table-hover shadow table-sm">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Untappd link</th>
      <th>Other Credits/Debits</th>
      <th>Contributed</th>
      <th>Taken</th>
      <th>Net Position</th>
    </tr>
  </thead>
<tbody>
{{ $activity := .Activity }}
{{ range .Users }}
  {{ $user := . }}
  <tr>
      <td>
          <small><a class="btn btn-success btn-sm userDetails mr-2" aria-expanded="false" aria-controls="collapse{{.Name}}" data-toggle="collapse" href="#collapse{{.Name}}"></a></small>
      {{.Name}}
      </td>
      <!--      <td data-toggle="collapse" href="#collapse{{.Name}}">{{.Name}}</td> -->
    <td>
    {{/*
    {{range .LastCheckins 1}}
<a href="https://untappd.com/beer/{{.Beer.ID}}">{{.Beer.Name}}</a> <small>{{printf "%.2f" .UserRating}} rating @{{.Created.Format "Mon Jan 2"}}</small><br/>
<i><small><a href="https://untappd.com/brewery/{{.Brewery.ID}}">{{.Brewery.Name}}</a></small></i>
    {{end}}
    */}}
    <a href="https://untappd.com/user/{{.UntappdID}}" target=_blank>{{.UntappdID}}</a>
    </td>
    <td><a href="/debitcredit/{{.ID}}">{{printf "$%.2f" .TotalDebitCredit}}</a></td>
    <td>{{printf "$%.2f" .TotalAdded}}</td>
    <td>{{printf "$%.2f" .TotalTaken}}</td>
    <td {{if lt .NetPosition 0.0}}class="table-danger"{{end}}>{{printf "$%.2f" .NetPosition}}</td>
  </tr>
  <tr class="collapse" id="collapse{{$user.Name}}"><td colspan="7" align="center" aria-expanded="false">
          <div class="container">
          {{ range $activity }}{{ if eq .User $user.ID }}
              <div class="row w-75 text-success">
              {{ if .Contrib }}
                  <div class="col-sm-3">
                      <small>{{.Time.Format "2 Jan 2006 15:04" }}</small>
                  </div>
                  <div class="col-sm-2 text-right">
                      <a href="/contribute/detail/{{.Contrib.ID}}">contributed</a> {{.Contrib.Quantity}}
                  </div>
                  <div class="col-sm text-left"><a href="https://untappd.com/beer/{{.Contrib.GetBeer.UntappdID}}" target=_blank>{{.Contrib.GetBeer.Name}}</a> <small><i>/ {{.Contrib.GetBeer.Brewery}}</i></small>
                  </div>
              {{ end }}
              {{ if .Checkout }}
                  <div class="col-sm-3 text-warning">
                      <small>{{.Time.Format "2 Jan 2006 15:04" }}</small>
                  </div>
                  <div class="col-sm-2 text-right">
                      checked out {{.Checkout.QuantityStr}}
                  </div>
                  <div class="col-sm text-left">
                 <a href="https://untappd.com/beer/{{.Checkout.GetContribution.GetBeer.UntappdID}}" target=_blank>{{.Checkout.GetContribution.GetBeer.Name}}</a> <small><i>/ {{.Checkout.GetContribution.GetBeer.Brewery}}</i></small>
                  </div>
              {{end}}
              {{ if .DebitCredit }}
                  <div class="col-sm-3">
                      <small>{{.Time.Format "2 Jan 2006 15:04" }}</small>
                  </div>
                  <div class="col-sm-3 text-right">
                      misc {{ if lt .DebitCredit.Amount 0.0}}debit{{else}}credit{{end}} of ${{.DebitCredit.Amount}}
                  </div>
                  <div class="col-sm text-left">
                      <i>{{.DebitCredit.Comment}}</i>
                  </div>
              {{end}}
          </div>
          {{ end}}{{ end}}</div>
  </td></tr>
{{end}}
</tbody>
</table>

<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
 <div class="modal-dialog" role="document">
  <div class="modal-content">
   <div class="modal-header">
     <h5 class="modal-title" id="addUserModalLabel">Add user</h5>
     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
     </button>
   </div>
   <div class="modal-body">
<form method="post" enctype="multipart/form-data" action="/users/add">
  <div class="form-group">
    <label for="user">Username</label>
    <input class="form-control" name="username" id="username" required autocomplete="off">
  </div>
  <div class="form-group">
    <label for="untappd">Untappd ID</label>
    <input class="form-control" name="untappd" id="untappd">
  </div>
   </div>
   <div class="modal-footer">
     <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
     <button type="submit" class="btn btn-primary">Submit</button>
   </div>
</form>
  </div>
 </div>
</div>

